:root {
    --ColorDarkest: #2A324B;
    --ColorDark: #50576E;
    --ColorMiddle: #767B91;
    --ColorLight: #C7CCDB;
    --ColorLightest: #E1E5EE;
    
    --TransparentColor: rgba(118, 123, 145, 0.35);
    --LinkColor: #C20114;

    --FontSize: 16px;
    --LineHeight: 24px;
    --BorderRadius: 10px;
    --InnerBorderRadius: 5px;
}

section#home-header {
    background: linear-gradient(0deg, rgba(42, 50, 75, 0.4) 0%, rgba(42, 50, 75, 0.4) 100%), url("/assets/images/header-images/kyle-sung-oQuP_XBjOMY-unsplash.jpg") lightgray 50% / cover no-repeat;
    background-position: center center;
    height: 400px;
    color: var(--ColorLightest);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#home-header #home-header-wrapper {
    width: 764px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 30px;
    row-gap: 10px;
}

section#home-header #home-header-wrapper #general-cat {
    background-image: url("/assets/images/global/general-cat.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 120px;
    height: 120px;
    border-radius: var(--BorderRadius);
    grid-column: 1;
    grid-row: 1 / span 2;
}

section#home-header #home-header-wrapper h1 {
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

section#home-header #home-header-wrapper p {
    font-size: 20px;
    margin: 0px;
}

@media only screen and (max-width: 1036px) {
    section#home-header #home-header-wrapper {
        width: 728px;
        margin: 0px 20px;
    }
}

@media only screen and (max-width: 768px) {
    section#home-header #home-header-wrapper {
        width: auto;
        margin: 0px 20px;
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
    }    

    section#home-header #home-header-wrapper #general-cat {
        grid-row: 1;
        width: 100px;
        height: 100px;
    }

    section#home-header #home-header-wrapper h1 {
        grid-row: 2;
    }
    
    section#home-header #home-header-wrapper p {
        grid-row: 3;
        font-size: 18px;
    }
}