@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');

:root {
    --ColorDarkest: rgba(42, 50, 75, 0.85);
    --ColorDark: #50576E;
    --ColorMiddle: #767B91;
    --ColorLight: #C7CCDB;
    --ColorLightest: #E1E5EE;
    
    --TransparentColor: rgba(118, 123, 145, 0.35);
    --LinkColor: #C20114;

    --DefaultFont: "Inter";
    --CodeFont: "Roboto Mono";
    --FontSize: 16px;
    --LineHeight: 24px;
    --BorderRadius: 10px;
    --InnerBorderRadius: 5px;
}

::selection {
    background-color: var(--LinkColor);
    color: var(--ColorLightest);
}

* {
    transition: all .2s ease-in-out;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    padding: 50px;
    box-sizing: border-box;
    font-family: var(--DefaultFont);
    font-size: var(--FontSize);
    line-height: var(--LineHeight);
}

#notfound-container {
    background-color: var(--ColorDarkest);
    border-radius: var(--BorderRadius);
    color: var(--ColorLightest);
    padding: 20px;
    box-sizing: border-box;
}

#notfound-container #name {
    background-image: url("/assets/images/global/icon.svg");
    background-repeat: no-repeat;
    background-size: 44px 44px;
    background-position: left center;
    width: fit-content;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 64px;
    box-sizing: border-box;
    color: var(--ColorLightest);
    text-decoration: none;
}

body#notfound1 {
    background-image: url("/assets/images/notfound/ugur-akdemir-HbYnglDQmuo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 83%;
}

body#notfound2 {
    background-image: url("/assets/images/notfound/nima-aksoy-3QvajmoTvHM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30%;
}

body#notfound3 {
    background-image: url("/assets/images/notfound/carlos-ibanez-oI141-aIwnQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
}

@media only screen and (max-width: 1036px) { 

}