@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:opsz@8..144&display=swap');
@import url('./highlight.css');

:root {
    /* for texts */
    --ColorDarkest: #2A324B;

    /* background for left-sidebar hover */
    --ColorDark: #50576E;

    /* background for header containers and scrollbar thumb */
    --ColorMiddle: #767B91;

    /* background for containers and inline-codes */
    --ColorLight: #C7CCDB;

    /* for general background and text */
    --ColorLightest: #E1E5EE;

    --LinkColor: #C20114;

    --InlineCodeBackground: rgba(199, 204, 219, 0.5);

    --DefaultFont: "Roboto Serif";
    --CodeFont: "Roboto Mono";
    --FontSize: 16px;
    --LineHeight: 28px;
    --BorderRadius: 10px;

    --InfoColor: #5FA8D3;
    --InfoFontColor: #133345;

    --WarningColor: #CCA000;
    --WarningFontColor: #634E00;
}

* {
    font-size: var(--FontSize);
    line-height: var(--LineHeight);
    transition: all .2s ease-in-out;
    cursor: default;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    transition: all .1s ease-in-out;
}

::selection {
    background-color: var(--LinkColor);
    color: var(--ColorLightest);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--ColorLightest);
    color: var(--ColorDarkest);
    font-family: var(--DefaultFont);
}

#page-wrapper {
    display: grid;
    grid-template-columns: 260px auto 260px;
    grid-template-rows: 56px auto;
    column-gap: 40px;
}

aside#left-sidebar {
    grid-column: 1;
    grid-row: 1 / span 2;
    color: var(--ColorLightest);
    background-color: var(--ColorDarkest);
    width: 260px;
    height: 100vh;
    position: sticky;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

aside#left-sidebar #name {
    background-image: url("/assets/images/name.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 98px;
    height: 68px;
    margin: 30px 20px;
}

aside#left-sidebar nav a.menu-btn {
    display: flex;
    width: 260px;
    padding: 15px 20px 15px 50px;
    box-sizing: border-box;
    color: var(--ColorLightest);
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}

aside#left-sidebar nav a.menu-btn:hover {
    background-color: var(--ColorDark);
}

aside#left-sidebar nav a.menu-btn#home {
    background-image: url("/assets/icons/left-sidebar/home_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px center;
}

aside#left-sidebar nav a.menu-btn#articles {
    background-image: url("/assets/icons/left-sidebar/article_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px center;
}

aside#left-sidebar nav a.menu-btn#explained {
    background-image: url("/assets/icons/left-sidebar/format_list_bulleted_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px center;
}

aside#left-sidebar nav a.menu-btn#repositories {
    background-image: url("/assets/icons/left-sidebar/data_object_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px center;
}

aside#left-sidebar nav a.menu-btn#github {
    background-image: url("/assets/icons/left-sidebar/github-mark-white.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 21px center;
}

aside#left-sidebar::-webkit-scrollbar {
    width: 10px;
}

aside#left-sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

aside#left-sidebar::-webkit-scrollbar-thumb {
    background-color: var(--ColorMiddle);
}

#page-header {
    background-color: var(--ColorMiddle);
    border-radius: var(--BorderRadius);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    color: var(--ColorLightest);
    padding: 12px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

/* h1 is only for page title */
#page-header h1 {
    font-size: calc(1.75 * var(--FontSize));
    line-height: 32px;
    font-weight: normal;
    margin: 0px;
    display: block;
}

#page-header a#improve {
    color: var(--ColorLightest);
    text-decoration-color: transparent;
}

#page-header a#improve:hover {
    text-decoration-color: var(--ColorLightest);
}

aside#right-sidebar {
    grid-column: 3;
    grid-row: 1 / span 2;
    color: var(--ColorDarkest);
    background-color: var(--ColorLight);
    width: 260px;
    height: 100vh;
    position: sticky;
    top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

aside#right-sidebar label#toc-title{
    background-color: var(--ColorMiddle);
    background-image: url("/assets/icons/anchor_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 20px center;
    color: var(--ColorLightest);
    display: block;
    padding: 15px 20px 15px 50px;
    box-sizing: border-box;
}

aside#right-sidebar #toc {
    background-color: var(--ColorLight);
    color: var(--ColorDarkest);
    height: fit-content;
    margin: 0px;
    padding: 10px 10px 10px 0px;
    box-sizing: border-box;
    list-style-type: decimal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    height: calc(100vh - 54px);
    max-height: calc(100vh - 58px);
    overflow-y: auto;
}

aside#right-sidebar #toc::-webkit-scrollbar {
    width: 10px;
}

aside#right-sidebar #toc::-webkit-scrollbar-track {
    background-color: transparent;
}

aside#right-sidebar #toc::-webkit-scrollbar-thumb {
    background-color: var(--ColorMiddle);
}

aside#right-sidebar #toc a {
    color: var(--ColorDarkest);
    text-decoration-color: transparent;
}

aside#right-sidebar #toc a:hover {
    text-decoration-color: var(--ColorDarkest);
}

aside#right-sidebar #toc .toc-sublist,
aside#right-sidebar #toc .toc-doublesublist {
    padding-left: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: var(--ColorMiddle);
    list-style-type: square;
}

aside#right-sidebar #toc .toc-sublist:last-child,
aside#right-sidebar #toc .toc-doublesublist:last-child {
    margin-bottom: 10px;
}

aside#right-sidebar #toc .toc-sublist a,
aside#right-sidebar #toc .toc-doublesublist a {
    color: var(--ColorMiddle);
    text-decoration-color: transparent;
}

aside#right-sidebar #toc .toc-sublist a:hover,
aside#right-sidebar #toc .toc-doublesublist a:hover {
    text-decoration-color: var(--ColorMiddle);
}

#page-contents {
    grid-column: 2;
    grid-row: 2;
    padding: 20px 0px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

#page-contents a {
    color: var(--LinkColor);
    text-decoration-color: transparent;
}

#page-contents a:hover {
    text-decoration-color: var(--LinkColor);
}

#page-contents h2 {
    font-size: calc(1.50 * var(--FontSize));
    line-height: normal;
    margin: 0px;
    padding: 10px 0px;
    box-sizing: border-box;
    display: block;
}

#page-contents h3 {
    background-image: url("/assets/icons/play_arrow_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left 12px;
    font-size: calc(1.25 * var(--FontSize));
    line-height: normal;
    margin: 0px;
    padding: 10px 0px 10px 25px;
    box-sizing: border-box;
    display: block;
}

#page-contents hr {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: solid 1px var(--ColorDarkest);
    height: 1px;
    margin: 20px 0px;
    overflow: hidden;
}

#page-contents p {
    display: block;
    margin: 10px 0px;
}

#page-contents img {
    border: solid 2px var(--ColorMiddle);
    border-radius: var(--BorderRadius);
}

#page-contents img.left-aligned {
    float: left;
    display: block;
    margin: 10px 20px 10px 0px;
}

#page-contents img.right-aligned {
    float: right;
    display: block;
    margin: 10px 0px 10px 20px;
}

#page-contents blockquote.info p,
#page-contents blockquote.warning p {
    margin: 0px;
    padding: 0px;
    display: unset;
}

#page-contents blockquote.info {
    display: block;
    background-color: var(--InfoColor);
    background-image: url("/assets/icons/blockquote/info_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 15px 18px;
    padding: 15px 15px 15px 45px;
    box-sizing: border-box;
    border-radius: var(--BorderRadius);
    color: var(--InfoFontColor);
    margin: 10px 0px;
    overflow: hidden;
}

#page-contents blockquote.warning {
    display: block;
    background-color: var(--WarningColor);
    background-image: url("/assets/icons/blockquote/emergency_home_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 15px 18px;
    padding: 15px 15px 15px 45px;
    box-sizing: border-box;
    border-radius: var(--BorderRadius);
    color: var(--WarningFontColor);
    margin: 10px 0px;
    overflow: hidden;
}

#page-contents blockquote.info a,
#page-contents blockquote.warning a {
    color: var(--LinkColor);
    text-decoration-color: transparent;
}

#page-contents blockquote.info a:hover,
#page-contents blockquote.warning a:hover {
    text-decoration-color: inherit;
}
#page-contents blockquote.info code.highlighter-rouge ,
#page-contents blockquote.warning code.highlighter-rouge  {
    padding: 3px 3px !important;
    font-size: 90%;
    background-color: var(--InlineCodeBackground);
    border-radius: 5px;
    color: var(--ColorDarkest);
}

#page-contents ul:not(.sublist),
#page-contents ol:not(.sublist) {
    padding: 20px;
    box-sizing: border-box;
    border-radius: var(--BorderRadius);
    background-color: var(--ColorLight);
    list-style-position: inside;
    margin: 10px 0px;
    overflow: hidden;
}

#page-contents ul li:not(:last-child),
#page-contents ol li:not(:last-child) {
    margin-bottom: 5px;
}

#page-contents ul .sublist,
#page-contents ol .sublist {
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    color: var(--ColorMiddle);
}

#page-contents ul {
    list-style-type: square;
}

#page-contents table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;
}

#page-contents table th,
#page-contents table tr,
#page-contents table td {
    padding: 10px;
    box-sizing: border-box;
}

#page-contents table th {
    background-color: var(--ColorMiddle);
    color: var(--ColorLightest);
    font-weight: normal;
    text-align: left;
}

#page-contents table tr:nth-child(odd) {
    background-color: var(--ColorLight);
}

#page-contents figure.highlight,
#page-contents figure.highlight pre {
    margin: 10px 0px;
    padding: 0px;
}

#page-contents figure.highlight pre {
    border-radius: var(--BorderRadius);
    background-color: var(--ColorLight);
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
}

#page-contents code.highlighter-rouge {
    padding: 3px 3px !important;
    font-size: 90%;
    background-color: var(--ColorLight);
    border-radius: 5px;
    color: var(--ColorDarkest);
}

#page-contents #notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: fit-content !important;
    text-align: center !important;
}

#page-contents #notfound #notfound-name {
    background-image: url("/assets/images/name_404.svg");
    background-repeat: no-repeat;
    background-size: 240px 40px;
    background-position: center center;
    width: 240px;
    height: 40px;
    margin: auto;
    border-bottom: solid 1px var(--ColorDarkest);
    padding: 15px;
    margin-bottom: 30px;
}

#page-contents #notfound p {
    margin-top: 15px;
}

/* mobile design*/
#m-topbar {
    background-color: var(--ColorDarkest);
    padding: 10px;
    box-sizing: border-box;
    display: none;
    position: sticky;
    top: 0px;
}

#m-topbar #m-name {
    background-image: url("/assets/images/name_mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    width: 192px;
    height: 36px;
}

#m-left-sidebar-toggle {
    background-color: var(--ColorDark);
    background-image: url("/assets/icons/mobile/menu_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    width: 36px;
    height: 36px;
    border: 0px;
    border-radius: var(--BorderRadius);
    cursor: pointer;
    outline: none;
}

#m-right-sidebar-toggle {
    background-color: var(--ColorDark);
    background-image: url("/assets/icons/mobile/toc_FILL1_wght700_GRAD200_opsz48.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    width: 36px;
    height: 36px;
    border: 0px;
    border-radius: var(--BorderRadius);
    cursor: pointer;
    outline: none;
}

#m-left-sidebar-toggle:hover,
#m-right-sidebar-toggle:hover {
    background-color: var(--ColorMiddle);
}

@media only screen and (max-width: 1200px) {
    #m-topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #page-wrapper {
        display: block;
        padding: 0px 40px;
        box-sizing: border-box;
    }
    
    aside#right-sidebar {
        border-left: solid 2px var(--ColorDarkest);
    }

    aside#left-sidebar,
    aside#right-sidebar {
        position: fixed;
        top: 56px;
        height: calc(100vh - 56px);
        max-height: calc(100vh - 56px);
        overflow-y: auto;
    }

    aside#left-sidebar {
        left: 0px;
        margin-left: -300px;
        border-top-style: inset;
        border-top: solid 1px var(--ColorMiddle);
    }

    aside#left-sidebar #name {
        display: none !important;
    }

    aside#right-sidebar {
        right: 0px;
        margin-right: -300px;
        border-top-style: inset;
        border-top: solid 1px var(--ColorMiddle);
    }

    aside#right-sidebar #toc {
        height: calc(100vh - 164px);
    }
}