<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.svg">
    <link rel="stylesheet" href="/assets/styles/style.css" />
    <title>{{ page.title }} - {{ site.author }}</title>
</head>
<body>
    <div id="m-topbar">
        <input type="button" id="m-left-sidebar-toggle" onclick="toggleMobile('left')">
        <div id="m-name"></div>
        <input type="button" id="m-right-sidebar-toggle" onclick="toggleMobile('right')">
    </div>
    <div id="page-wrapper">
        <aside id="left-sidebar">
            <div id="name"></div>
            <nav>
                {% for menupage in site.data.menu %}
                <a class="menu-btn" id="{{ menupage.id }}" href="{{ menupage.url }}">{{ menupage.title }}</a>
                {% endfor %}
            </nav>
        </aside>
        <div id="page-header">
            <h1>{{ page.title }}</h1>
            <a id="improve" href="{{ site.git_repo }}/{{ page.editlink }}" target="_blank">Improve this page</a>
        </div>
        <div id="page-contents">
            {{ content }}
        </div>
        <aside id="right-sidebar">
            <label id="toc-title">On this page</label>
            <div id="toc"></div>
        </aside>
    </div>
    <script src="/assets/javascript/toc-generator.js"></script>
    <script src="/assets/javascript/mobile-menu.js"></script>
</body>
</html>